In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv(r"/gdrive/MyDrive/data_score.csv")

In [ ]:
conditionlist = [
    (df["C1"]==0) & (df["C2"]==0) & (df["C3"]>=3) & (df["C4"]==0) & (df["C5"]==1),
    (df["C1"]==1) & (df["C2"]==1) & (df["C3"]==3) & (df["C4"]==1) & (df["C5"]==1),
    (df["C1"]==1) & (df["C2"]==1) & (df["C3"]==0) & (df["C4"]==1) & (df["C5"]==0),
    (df["C1"]==1) & (df["C2"]==1) & (df["C3"]<=2) & (df["C4"]==1) & (df["C5"]==0),
    (df["C3"]==5) & (df["C5"]==1),
    (df["C1"]==0) & (df["C2"]==1) & (df["C3"]<=2) & (df["C4"]==1),
    (df["C1"]==0) & (df["C2"]==1)  | (df["C1"]==1) & (df["C4"]==0) | (df["C2"]==1) & (df["C4"]==0) | (df["C4"]==1) & (df["C2"]==0),
    (df["C1"]==0) & (df["C3"]>3) | (df["C2"]==0) & (df["C3"]>3)| (df["C4"]==0) & (df["C3"]>3),
    (df["C1"]==1) & (df["C3"]>3) | (df["C2"]==1) & (df["C3"]>3)| (df["C4"]==1) & (df["C3"]>3),
    (df["C1"]==0) & (df["C3"]<=2) | (df["C2"]==0) & (df["C3"]<=2)| (df["C4"]==0) & (df["C3"]<=2),
    (df["C1"]==1) & (df["C3"]<=2) | (df["C2"]==1) & (df["C3"]<=2)| (df["C4"]==1) & (df["C3"]<=2), 
    (df["C5"]==0) & (df["C2"]==1)  | (df["C1"]==1) & (df["C5"]==0) | (df["C4"]==1) & (df["C5"]==0),
    (df["C5"]==0) & (df["C3"]>3),
    (df["C5"]==1) & (df["C3"]>3) ,
    (df["C5"]==0) & (df["C3"]<=2),
    (df["C5"]==1) & (df["C3"]<=2),
    ]
choicelist = ['100',random.randint(62,78), '0',random.randint(1,20),'80',random.randint(40,55),random.randint(50,80),random.randint(50,80),random.randint(50,65),random.randint(40,65),random.randint(30,45),random.randint(10,35),random.randint(50,70),random.randint(60,75),random.randint(20,45),random.randint(30,45)]
df['score'] = np.select(conditionlist, choicelist, default='Not Specified')

print(df)

In [ ]:
df.head(50)

                    ID  C1  C2  C3  C4  C5  score
0   MYNB48764759382421   1   1   5   1   1     80
1   ZIRW92411578156593   1   1   5   1   0     50
2   POQI08016097535139   0   1   2   0   1     79
3   HZEZ87115871484185   1   0   5   1   1     85
4   GZTR94719659342320   1   0   5   0   0     75
5   VIPC12201868483396   0   0   5   1   0     71
6   IOPV51591795330413   1   1   3   1   0     65
7   ZFKN01230989101399   1   1   1   1   0     19
8   MCLD09032173008691   1   1   3   1   0     65
9   CHCU45620870916345   1   1   4   0   0     70
10  SFWV30225841972076   1   1   5   1   1     80
11  QJUL64280715084237   1   1   3   1   1     70
12  TJVL99246610935233   1   1   4   1   1     50
13  MWVS60696027142787   0   1   5   1   1     85
14  TYAB75470638120665   1   1   1   1   1     56
15  GAWY08913193442176   1   1   1   1   1     58
16  AIOZ14285124000348   1   1   3   0   1     79
17  LSBX97765823694022   1   1   3   0   1     79
18  KKZL15900422945682   0   1   3   0   1     84
19  DPXH04281465461187   1   1   4   1   1     79
20  KZZK17176045229611   1   1   1   1   0     19
21  GXHB60168847793615   1   1   2   1   1     69
22  ISYF63511087317643   1   0   1   1   0     69
23  ZGTE13765821972966   1   1   5   1   1     80
24  PVKP73893055508249   1   1   2   0   1     79
25  MSJW71180132040752   1   1   2   0   0     71
26  UOLQ68809189163489   1   1   4   1   1     50
27  PZMT93002489451744   1   0   4   1   0     79
28  MZMB22345007627912   1   1   3   0   1     79
29  NBTO67017200992518   1   1   3   0   0     79
30  GMZY71097951942641   1   1   5   0   0     79
31  ZGBZ67537510074089   1   1   5   1   1     80
32  GHCY88684126961161   1   1   1   1   1     58
33  NYEX07660754151150   1   1   3   1   1     81
34  LFAH51923031045093   1   1   2   1   1     68
35  FODP54203557448529   1   1   1   1   0     19
36  DRSJ26223583324560   1   1   2   1   0     19
37  TAMC12648629645137   1   0   3   1   0     79
38  UQBM60657354712141   1   1   5   1   0     50
39  TWEZ76266237582571   1   1   4   1   1     50
40  YGJA79703414892671   1   1   4   0   0     79
41  YHRY64014004689671   0   0   3   1   1     79
42  LJYV39101448518321   1   1   4   1   1     50
43  JJQE98381686447592   1   1   2   0   1     79
44  DWDM69728457637785   1   0   4   0   1     79
45  UBOJ27093057608116   1   1   1   1   1     49
46  LBDT04432943167562   0   1   3   1   1     79
47  NUVN27285232756676   1   1   2   1   1     55
48  ZGOG90603125023949   1   0   1   0   1     79
49  WQYJ56708869774735   1   1   3   1   1     79

In [ ]:
df.to_csv(r"/gdrive/MyDrive/data_score.csv",index=False)